/uv.lock
/project_structure.db
/src/base_de_proyecto.egg-info/
/.coverage
/src/project_manager.egg-info/dependency_links.txt
/src/project_manager.egg-info/entry_points.txt
/src/project_manager.egg-info/PKG-INFO
/src/project_manager.egg-info/requires.txt
/src/project_manager.egg-info/SOURCES.txt
/src/project_manager.egg-info/top_level.txt
